[Unit]
Description = Simple systemd service 

[Service]
Type = simple
ExecStart = /home/drvw/Services/f_service.sh

[Install]
WantedBy = multi-user.target
